html, body, ul, li
{
	margin:0;
	padding:0;
}

body
{
	font-family: sans-serif;
	font-size: 1em;
	background-color: #000000;
}

li
{
	display: inline-block;
	margin-right: 10px;
}

.logo
{
	background-image: url( ../images/Iron_Maiden_logo.png );
	width: 600px;
	height: 115px;
	margin:30px auto;
}

#album-grid
{
	text-align: center;
	margin-top: 40px;
}

.album-title
{
	text-align: center;
	color: #FFFFFF;
}

input
{
	padding: 15px 30px;
    border-radius: 20px;
    border: 3px solid #F5F5F5;
    min-width: 200px;
    font-size: 1em;
    color: #333333;
}

:focus
{
	outline: none;
}